.editViewButton {
    -fx-background-color : #4c18f5;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.editViewButton:hover {
    -fx-background-color: #845dfa;
}

.editViewButton:pressed {
    -fx-background-color: #251161;
    position:relative;
    top:1px;
}

.textField_box {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 0.5px;
    -fx-border-radius: 5px;
}